.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.title {
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

.label {
  margin-bottom: 8px;
  font-weight: bold;
}

.input,
.select,
.textarea {
  background-color: #ffffff0a;
}

.input,
.select,
.textarea,
.button {
  width: 400px;
  height: 36px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ffffff33;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 15px;
  color: white;
  &:focus-visible {
    outline: 1px solid #ffffff75;
  }
}

.select {
  cursor: pointer;
  color: white;
  background-color: #ffffff0a;
  option {
    color: white;
    background-color: #1c1c1c;
  }

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("../assets/images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 16px;
}

.button {
  background-color: #a7ee43;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #0056b3;
  }
}

@media (max-width: 768px) {
  .form {
    width: 90%;
    max-width: none;
  }

  .input,
  .select,
  .textarea,
  .button {
    width: 90vw;
    font-size: 14px;
  }

  .button {
    height: 40px;
  }

  .title {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .input,
  .select,
  .textarea,
  .button {
    font-size: 12px;
  }

  .title {
    font-size: 20px;
  }
}
